[alias]
	ci = commit -m
	co = checkout
	st = status
	br = branch
	loneline = log --graph -10 --pretty=\"format:%C(auto)%h %s\"
	amend = commit --amend
	ldiff = diff HEAD~ HEAD
	diffs = diff --staged
	s = status -bsu
[core]
	autocrlf = false
	eol = lf
	pager = less -FX
[credential]
	helper = cache --timeout 1800
[difftool]
	prompt = false
[include]
	path = "~/.gitconfig.user" # contains user.name and user.email
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
