.netrwhist
.DS_Store
Thumbs.db
.directory
*.exe
core

/.vim/plug
/.vim/spell

/.config/Code/User/workspaceStorage

Package Control.last-run
Package Control.ca-list
Package Control.ca-bundle
Package Control.system-ca-bundle
Package Control.user-ca-bundle
Package Control.merged-ca-bundle
Package Control.cache/
Package Control.ca-certs/
/.config/sublime-text-3/Packages/User/SublimeLinter/
