[submodule ".config/zsh/syntax-highlighting"]
	path = .config/zsh/syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule ".config/zsh/autosuggestions"]
	path = .config/zsh/autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule ".config/zsh/agkozak"]
	path = .config/zsh/agkozak
	url = https://github.com/agkozak/agkozak-zsh-prompt.git
