[alias]
	amend = commit --amend
	ci = commit -m
	co = checkout
	st = status
	br = branch
	loneline = log --graph -10 --pretty=\"format:%C(auto)%h %s\"
	ldiff = diff HEAD~ HEAD
	diffs = diff --staged
	me = merge
	s = status -bsu
	pullall = "!f(){ git pull \"$@\" && git submodule update --init --recursive; }; f"
	rb = rebase
[blame]
	date = short
[core]
	autocrlf = input
	eol = lf
	pager = delta --plus-color="#194d19" --minus-color="#5d1919"
	editor = vim
[credential]
	helper = cache --timeout 1800
[delta]
	features = line-numbers
[diff]
	colorMoved = default
	algorithm = histogram
[difftool]
	prompt = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[include]
	path = "~/.gitconfig.user" # contains user.name and user.email
[pull]
	rebase = false
[advice]
	detachedHead = false
