" Escape insert mode by typing "jj" or "jk" quickly
imap jj <Esc>
imap jk <Esc>

" Allow single character insertions from normal mode
noremap <Space> i <Esc>r

" Allow :Q and :W
com W w
com Q q

" Clear the search highlight
nnoremap <silent> <return> :noh<return>

" Navigate with jkl; instead of hjkl
noremap ; l
noremap l k
noremap k j
noremap j h
noremap h ;

" Have x and c not modify registers
noremap x "_x
noremap c "_c

" Indent preserves selection.
vnoremap < <gv
vnoremap > >gv

" Alt+Arrow to move between splits
nnoremap <A-Left> <C-w>h
nnoremap <A-Down> <C-w>j
nnoremap <A-Up> <C-w>k
nnoremap <A-Right> <C-w>l

syntax on
set backspace=indent,eol,start
set clipboard=unnamedplus
set complete-=i
set completeopt=longest,menuone
set copyindent
set cursorline
set directory=~/.vim/swap
set encoding=utf-8
set fillchars+=vert:\ 
set guicursor=
set ignorecase
set hidden
set ideajoin
set incsearch
set infercase
set laststatus=2
set list
set listchars=tab:→\ ,trail:·
set modeline
set mouse=a
set nocompatible
set noshowmatch
set nrformats-=octal
set number
set omnifunc=syntaxcomplete#Complete
set ruler
set shiftwidth=4
set smartcase
set so=4
set surround
set tabstop=4
set title
if !has('nvim') && &ttimeoutlen == -1
    set ttimeout
    set ttimeoutlen=100
endif
set timeout
set timeoutlen=100
set visualbell
set wildmenu

if v:version > 703 || v:version == 703 && has("patch541")
  set formatoptions+=j " Delete comment character when joining commented lines
endif
set clipboard+=ideaput
