[MESSAGES CONTROL]
disable=bad-indentation,
        fixme,
        global-statement,
        invalid-name,
        locally-disabled,
        missing-docstring,
        mixed-indentation,
        no-else-return,
        too-few-public-methods,
        too-many-arguments,
        too-many-branches,
        too-many-public-methods,
        too-many-locals,
        too-many-nested-blocks,
        too-many-statements,
        wrong-import-position,
        c-extension-no-member

[BASIC]
# Top level variables are not necessarily constants
const-rgx=([a-z_][a-z0-9_]{2,30}|(([A-Z_][A-Z0-9_]*)|(__.*__)))$
